@media only screen and (max-width: 600px) {
    body {
        padding: 0;
        margin: 0;
    }

    .nav-bar {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0;
        position: static;
    }

    .nav-bar>ul {
        flex-direction: column;
        text-align: center;
        padding-left: 0;
        width: 100%;
        font-size: 30px;
        background-color: #8dc63f;
        color: #ffffff;
        margin-bottom: 0;
    }

    .nav-bar>ul>li {
        padding: 10px 0;
    }

    .nav-bar>img {
        width: 70%;
        height: 130px;
    }

    .green-bar {
        display: none;
    }

    .content-container {
        position: static;
        top: 0;
        flex-direction: column;
        width: 90%;


    }

    .content-container>div {
        width: 100%;
        padding-bottom: 0;
    }

    .chat-container {
        width: 40px;
        height: 40px;
        bottom: 40px;
        right: 50px;
    }